.item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.item .caption {
  z-index: 99;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;

  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
}

.item:hover {
  transform: scale(1.05);
  z-index: 999;
}
