:root {
  --background-start: #0250c5;
  --background-end: #d43f8d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-start);
  background: linear-gradient(to bottom, transparent, var(--background-start))
    var(--background-end);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

img {
  max-width: 100%;
}
